
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #152238;
  color: white;
  text-align: center;
}

.contact-container-div{
  padding: 10px;
  font-size: 18pt;
  top:5px;
  bottom: 5px;
}

.contactImageDiv{
  width: 45%;
  float:left;
  padding: 10px;
  right:2px;
}

.contactTextDiv{
  width: 55%;
  float:left;
  left:2px;
  padding: 10px;
}

.contactImageDiv img{
  width: 100%;
  height:100%;
}

.cert-container{
  padding: 10px;
  font-size: large;
  top:5px;
  bottom: 5px;
}

.left-cert-div{
  width: 75%;
  float: left;
  padding: 10px;
  right:2px;
}

.right-cert-div{
  width: 25%;
  float:left;
  left: 2px;
  padding: 10px;
}
.right-cert-div img{
  width: 100%;
  height:100%;
}

.bannerDiv{
  position: relative;
  width:100%;
  height:200px;
  text-align: center;
  color: white;
}
.imageText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bannerDiv img{
  width: 100%;
  height:100%;
}

nav {
  display: flex;
  left: 2px;
  right:2px;
  bottom:2px;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: #152238;
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 18pt;
}

.panel-container{
  padding: 10px;
  font-size: large;
  top:5px;
  bottom: 5px;
}

.left-panel{
  width: 35%;
  float: left;
  padding: 10px;
  right:2px;
  padding-bottom: 10px;
  
}

.left-panel img{
  width: 100%;
  height:100%;
}

.right-panel{
  width: 65%;
  float:left;
  left: 2px;
  padding: 10px;
  padding-bottom: 10px;
}
