
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

nav {
  display: flex;
  left: 2px;
  right:2px;
  bottom:2px;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: black;
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.panel-container{
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  font-size: large;
}

.left-panel{
  width: 40%;
  float: left;
  padding: 10px;
}

.left-panel img{
  width: 100%;
  height:100%;
}

.right-panel{
  width: 60%;
  float:left;
  padding: 10px;
}
