.App {
  text-align: center;
}

.headerWithImage{
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  width: fit-content;
  height: 9%;
}

.footer{
  position: fixed;
  left: 2px;
  bottom: 2px;
  right: 2px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

nav {
  display: flex;
  left: 2px;
  right:2px;
  bottom:2px;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: black;
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
