
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #152238;
  color: white;
  text-align: center;
}

.cert-container{
  font-size: large;
}

.bannerDiv{
  position: relative;
  width:100%;
  height:200px;
  text-align: center;
  color: white;
}
.imagreText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bannerDiv img{
  width: 100%;
  height:100%;
}

nav {
  display: flex;
  left: 2px;
  right:2px;
  bottom:2px;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: #152238;
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: large;
}

.panel-container{
  padding: 10px;
  font-size: large;
  top:5px;
  bottom: 5px;
}

.left-panel{
  width: 25%;
  float: left;
  padding: 10px;
  right:2px;
}

.left-panel img{
  width: 100%;
  height:100%;
}

.right-panel{
  width: 75%;
  float:left;
  left: 2px;
  padding: 10px;
}
